autopep8==1.5.7
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
et-xmlfile==1.1.0
Flask==2.0.1
Flask-Excel==0.0.7
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
gunicorn==20.1.0
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
lml==0.1.0
MarkupSafe==2.0.1
openpyxl==3.0.9
pycodestyle==2.7.0
pyexcel==0.6.7
pyexcel-io==0.6.4
pyexcel-webio==0.1.4
pyexcel-xlsx==0.6.0
PyJWT==2.1.0
pytz==2021.1
requests==2.26.0
sinchsms==1.0.4
SQLAlchemy==1.4.25
texttable==1.6.4
toml==0.10.2
twilio==7.0.0
urllib3==1.26.7
Werkzeug==2.0.1
